@import "fonts.css";

footer {
    padding: 5px 25px 5px 5px;
    background-color: var(--darker-gray);
    text-align: right;
    position: fixed;
    bottom: 0;
    width: 100%;
} 

footer a {
    color: white;
    text-decoration: none;
    font-family: var(--second-font-family);
    font-weight: 800;
    padding-right: 20px; /* to fix label offset */
}

footer a:hover {
      text-decoration: underline;
}